# Ambiente virtual
.venv/

# Variáveis de ambiente
.env

src/scrape_to_api/settings/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Poetry
poetry.lock

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
*.log